<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Страница входа</title>
        <link rel="stylesheet" href="../static/css/Main.css">
    </head>
    <body id="enter-body">
        <div id="enter-box">
            <p id="entreregtitle"><b>Вход</b></p>
            <input class="input-enter" type="text" placeholder="Введите логин" maxlength="50">
            <input class="input-enter" type="password" placeholder="Введите пароль" maxlength="16">
            <button id="button-to-main" onclick><a class="link-to-main" href="../templates/Main.html">войти</button>
        </div>

    </body>
<html>