<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Пример веб-страницы</title>
    <link rel="stylesheet" href="../static/css/Main.css">


 </head>
 <body>
        <div class="Top-bar">
            <a href="Main.html"><img src=../images/serafimi.jpg class="logo"></a>
            <button class="menu-button"><a href="Main.html"><img src=../images/menu.jpg class="Menu-logo"></a></button>
        </div>
            <div class="nav-buttons">
                <a role="button" class="category-button" href="Main.html">Оформить сделку</a>
                <a role="button" class="category-button" href="deal-history.html">История сделок</a>
                <a role="button" class="category-button" href="look-awards.html">Просмотр начисленной премии</a>
            </div>
            <div class="Block-deal">
                <form action="" method="get">
                </form>
            </div>
</body>
</html>