<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Пример веб-страницы</title>
    <link rel="stylesheet" href="../static/css/Main.css">
        <div class="Top-bar">
            <a href="Main.html"><img src=../images/serafimi.jpg class="logo"></a>
            <button class="menu-button"><a href="Main.html"><img src=../images/menu.jpg class="Menu-logo"></a></button>
        </div>


 </head>
 <body>
        
            <div class="nav-buttons">
                <button class="category-button">Оформить сделку</button>
                <button class="category-button">История сделок</button>
                <button class="category-button">Просмотр начисленной премии</button>
                <button class="category-button">Денис гей</button>
            </div>
            <div class="Block-deal">
                <form action="http://denisGay.com" method="post">
                    <div class="form-deal">
                    <label for="text">id клиента: </label>
                    <input type="text" name="id" maxlength="10"/><br><br>
                    </div>
                    <div class="form-deal">
                    <label for="text">Сумма сделки: </label>
                    <input type="text" name="Sum"/><br><br>
                    </div>
                    <div class="form-deal">
                        <label for="text">Адрес сделки: </label>
                        <input type="text" name="Adress"/><br><br>
                    </div>
                    <div class="form-deal">
                        <label for="text">Дата заключения договора: </label>
                        <input type="text" name="Data"/><br><br>
                    </div>
                    <div class="form-dop">
                        <label for="text">Дополнительная информация: </label>
                        <input type="text" name="info"/><br><br>
                    </div>
                    <div class="form-save">
                    <input type="submit" value="Сохранить сделку" />
                    </div>
                    
                </form>
            </div>
        
</body>
</html>
