@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;



}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

body {
    background-color: #827ba9;

}

#header {
    width: 100%;
    height: 100px;
    text-align: center;
    border-bottom: 2px solid pink;
    background: #ccc;
    color: red;
}

.Nav-Setting-Profile,button {
    background-color: #fff;
    color: #191919;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: auto;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 4px;
    font-size: 16px;
    line-height: 100%;
    border-radius: 3px;
    border: none
    
}

.setting-icon-item {
    list-style: none;


}

#Block {
    list-style: none;
    display: block;
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-top:35px;

}

#Block li {
    display: inline;
    background: #fafafa;
    border: 1px solid silver;
    padding: 0 20px;
    cursor: pointer;
}

#Block li:hover {
    color: white;
    background: #333;
    border-radius: 15px;




}

#Block li:not(:last-of-type){
    margin-right: 20px;



}
